@import "../libs/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=cyrillic');
@import url(http://allfont.ru/allfont.css?fonts=pragmatica-cyrillic);
@font-face { font-family: 'PragmaticaLight';  src: local('PragmaticaLight'), url('https://nomail.com.ua/files/woff/5c2ba76393b9195ca8ba7d9a22d4f77e.woff') format('woff'); }

$pinkColor: #9f074f;
$brownColor: #6d604c;

html {
  overflow-x: hidden !important;
}

.html-overflow {
  overflow: hidden !important;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  -webkit-overflow-scrolling: touch;
}

p, h1, h2, h3, h4, h5, h6, span {
  cursor: default;
}

a, a:hover, a:active, button {
  cursor: pointer;
  text-decoration: none;
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@function rem($size) {
  @return $size / 16 * 1rem;
}

* {
  @media (max-width: 1680px) {
    font-size: 15px;
  }
  @media (max-width: 1366px) {
    font-size: 14px;
  }
  @media (max-width: 1280px) {
    font-size: 13px;
  }
  @media (max-width: 1280px) {
    font-size: 13px;
  }
  @media (max-width: 991px) {
    font-size: 12px;
  }
  @media (max-width: 880px) {
    font-size: 10px;
  }
  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.header1 {
  background-color: #fff;
  padding: 1.5rem 23rem;
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.15);
  @media (max-width: 1919px) {
    padding: 1.5rem 8rem;
  }
  .logo {
    width: auto;
    height:7rem;
  }
  .top-bar {
    .phone-and-map {

      img {
        height: 1.5rem;
        width:1.5rem;
        object-fit: contain;
        margin-right: 5px;
      }
      a {
        text-decoration: none;
        color: #000;
        font-family:'pragmatica-cyrillic', sans-serif;
        font-size: 1.5rem;
        margin-bottom: 0;
      }
      .pink-text {
        display: inline-block;

        font-size: .9rem;
        margin-bottom: 0;
        color: $pinkColor;
        padding-left: 2rem;
        span {
          font-family:'PragmaticaLight', sans-serif;
          border-bottom:1px dashed $pinkColor;
        }
      }
    }
    .language-button {
      margin: 0rem 1rem;
      background: none;
      outline: none;
      border: 1px solid black;
      font-family:'Open Sans', sans-serif;
      border-radius: 5px;
      font-size: .9rem;
      padding: .3rem .5rem;
    }
    .search-form {
      margin-right: 1rem;
      height: 2.2rem;
      border:1px solid black;
      border-radius: 5px;
      input {
        background: none;
        outline: none;
        border: none;
      }
      button {
        background: none;
        outline: none;
        border: none;
        img {
          margin-right: .4rem;
          width: auto;
          height:1.3rem;
        }
      }
    }
    .cabinet {
      cursor: pointer;
      text-decoration: none;
      color: #000;
      span {
        cursor: pointer;
        font-family:'Open Sans', sans-serif;
        border-bottom:1px dashed black;
      }
      img {
        margin-right: .3rem;
        height: 1.3rem;
        width:auto;
      }
    }
  }
  .bottom-bar {
    margin-top: 1.5rem;
    a {
      text-decoration: none;
      font-family:'Open Sans', sans-serif;
      font-weight: 600;
      color: #000;
      margin-right: 1rem;
      transition: .3s;
      &:hover {
        color: $pinkColor;
      }
    }
  }
}

.link-anchors {
  padding: 0rem 23rem;
  @media (max-width: 1919px) {
    padding: 0rem 8rem;
  }
  @media (max-width: 768px) {
    padding: 2rem 1rem;
  }
  a {
    font-size: .9rem;
    color: #000;
    text-decoration: underline;
    text-decoration-line: underline;
    font-family: 'Open Sans',sans-serif;
    img {
      margin: 0rem .5rem;
      height: .7rem;
      width: auto;
    }
    &:last-child {
      color: $pinkColor;
      text-decoration: none;
    }
  }
  p {
    font-size: .9rem;
    font-family: 'Open Sans',sans-serif;
    color: $pinkColor;
    text-decoration: none;
  }
}

.about-stock {
  padding: 0rem 23rem;
  @media (max-width: 1919px) {
    padding: 0rem 8rem;
  }
  @media (max-width: 768px) {
    padding: 2rem 1rem;
  }
  h3 {
    font-family: "Open Sans",sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: $pinkColor;
  }
  .photo-and-information {
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    transition: all .4s;
    border-bottom: 2px solid $pinkColor !important;
    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,.08), 0 10px 10px rgba(0,0,0,.04);
    }
  }
  .main-pic {
    width: auto;
    height: auto;
    object-fit: cover;
    object-position: center;
    @media (max-width: 768px) {
      width: 100%;
      height: 10rem;
    }
  }
  .pink-links {
    width: 100%;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #c5c5c5;
    a {
      font-size: .9rem;
      color: $pinkColor;
      text-decoration: none;

    }
    img {
      height: 1.5rem;
      width: auto;
    }
  }
  p {
    line-height: 120%;
    font-family: 'PragmaticaLight', sans-serif;
  }
}

.your-profit {
  padding: 0rem 23rem;
  @media (max-width: 1919px) {
    padding: 0rem 8rem;
  }
  @media (max-width: 768px) {
    padding: 2rem 1rem;
  }
  h3 {
    font-family: 'pragmatica-cyrillic', sans-serif;
    font-size: 1.5rem;
    color: $pinkColor;
  }
  .flip-container {
    z-index: 1;
    perspective: 1000px;
    width: 16%;
    margin-right: 1rem;
    @media (max-width: 768px) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
    border-radius: 1rem;
  }

  .flip-container, .front, .back {
    height: 16rem;

  }
  .flipper {
    z-index: 2;
    transition: 0.4s;
    transform-style: preserve-3d;
    position: relative;
  }

  .front, .back {
    border-width: 2px;
    border-color: rgb(217, 221, 225);
    border-style: solid;
    border-radius: 6px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.11);
    width: 100%;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem 1rem;
  }

  .front {
    background-color: white;
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    box-shadow: 0px 4px 21px 0px rgba(112, 112, 112, 0.33);
    img {
      height: 3.5rem;
      width: 3.5rem;
      object-fit: contain;
      margin-bottom: 2.5rem;
    }
    h5 {
      font-size: 1rem;
    }
  }

  .back {
    z-index: 4;
    background-color: #fff;
    background-size: cover;
    transform: rotateY(180deg);
    p {
      font-size: .9rem;
      line-height: 120%;
      color: #000;
    }
  }
  .items {
    background-color: #fff;
  }
  .item {
    background-color: #fff;
    padding: 1rem 1rem;
    width: 15%;
    height: 16rem;
    margin-right: 1rem;
    border-width: 2px;
    border-color: rgb(217, 221, 225);
    border-style: solid;
    border-radius: 6px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.11);

    @media (max-width: 768px) {
      width: 100%;
      margin-right: 0;
      margin-top: 1rem;
    }

    img {
      height: 3.5rem;
      width: 3.5rem;
      object-fit: contain;
      margin-bottom: 2.5rem;
    }
    h5 {
      font-size: 1rem;
    }
  }
}

@import url('https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');
.accordion-first {
  padding: 0rem 23rem;
  @media (max-width: 1919px) {
    padding: 0rem 8rem;
  }
  @media (max-width: 768px) {
    padding: 2rem 1rem;
  }
  .accordion-toggle:after {
    font-family: 'FontAwesome',sans-serif;
    content: "\f107";
    float: right;
  }
  .accordion-opened .accordion-toggle:after {
    content: "\f106";
  }
  .accordion-heading {
    color: $pinkColor;

    padding: 1rem;
    border-bottom: 1px solid #c5c5c5;
    a {
      font-family: 'pragmatica-cyrillic', sans-serif;
      font-size: 1.5rem;
      color: $pinkColor;
      text-transform: uppercase;
      @media (max-width: 768px) {
        font-size: 1rem;
      }
    }
  }
  .accordion-group {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);  }
  .accordion-inner {
    background-color: #fff;
    p {
      font-size: 1rem;
      margin-bottom: 0;
      span {
        font-size: 2rem;
        color: $pinkColor;
        margin-right: .7rem;
      }
    }
  }
}

.mechanism {
  padding: 0rem 23rem;
  @media (max-width: 1919px) {
    padding: 0rem 8rem;
  }
  @media (max-width: 768px) {
    padding: 2rem 1rem;
  }
  h3 {
    font-family: 'pragmatica-cyrillic', sans-serif;
    font-size: 1.5rem;
    color: $pinkColor;
  }
  .item {
    background-color: #fff;
    height: 12rem;
    width: 25rem;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    transition: all .4s;
    border-bottom: 2px solid transparent!important;
    img {
      width: auto;
      height: 2rem;
    }
    h5 {
      font-size: 1rem;
      margin-bottom: 0;
      color: $pinkColor;
      line-height: 110%;
    }
    h4 {
      font-size: 4rem;
      color: #c5c5c5;
      font-weight: bold;
      margin-bottom: 0;
    }
    p {
      font-size: 1rem;
      line-height: 120%;
      font-family: 'PragmaticaLight', sans-serif;
    }
    @media (max-width: 768px) {
      width: 100%;
    }
    &:hover {
      border-color: $pinkColor !important;
      box-shadow: 0 14px 28px rgba(0,0,0,.08), 0 10px 10px rgba(0,0,0,.04);
    }
  }
}

.accordion-second {
  padding: 0rem 23rem;
  @media (max-width: 1919px) {
    padding: 0rem 8rem;
  }
  @media (max-width: 768px) {
    padding: 2rem 1rem;
  }
  .accordion-toggle:after {
    font-family: 'FontAwesome',sans-serif;
    content: "\f107";
    float: right;
  }
  .accordion-opened .accordion-toggle:after {
    content: "\f106";
  }
  .accordion-heading {
    color: $pinkColor;
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    a {
      font-family: 'pragmatica-cyrillic', sans-serif;
      font-size: 1.5rem;
      color: $pinkColor;
      text-transform: uppercase;
      @media (max-width: 768px) {
        font-size: 1rem;
      }
    }
  }
  .accordion-inner {
    .first-table {
      background-color: #fff;
      border-radius: 5px;
      border: 1px solid #c5c5c5;
      font-family: 'PragmaticaLight', sans-serif;
      div:first-child {
        background-color: #f5f6f7;
        color: $pinkColor;
        h5 {
          @media (max-width: 768px) {
            font-size: .9rem;
          }
        }
      }
      .d-flex:not(:last-child) {
        border-bottom: 1px solid #c5c5c5;
      }
      h5:last-child, p:last-child {
        border-left: 1px solid #c5c5c5;
      }
    }
  }
}

.button-with-text {
  padding: 0rem 23rem;
  @media (max-width: 1919px) {
    padding: 0rem 8rem;
  }
  @media (max-width: 768px) {
    padding: 2rem 1rem;
  }
  button {
    border-radius: 3px;
    background-color: $pinkColor;
    border: none;
    outline: none;
    padding: .5rem 1.5rem;
    font-size: .8rem;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }
  p {
    font-size: .8rem;
    font-family: 'PragmaticaLight', sans-serif;
  }
}

.banners {
  padding: 0rem 23rem;
  @media (max-width: 1919px) {
    padding: 0rem 8rem;
  }
  @media (max-width: 768px) {
    padding: 2rem 1rem;
  }
  img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    object-position: center;
  }
}

.footer {
  padding: 2rem 23rem;
  background-color: #fff;
  @media (max-width: 1919px) {
    padding: 2rem 8rem;
  }
  @media (max-width: 768px) {
    padding: 2rem 1rem;
  }

  .links {
    a {
      color: #686c72;
      font-family:'Open Sans', sans-serif;
      font-size: .9rem;
      margin-bottom: .5rem;
    }
  }
  .contacts {
    img {
      height: 1.3rem;
      width:auto;
      margin-right: .5rem;
    }
    .mobile-phone {
      a {
        font-size: 1.2rem;
        color: #000;
        font-family:'Open Sans', sans-serif;
        margin-bottom: 0;
      }

    }
    p {
      color: $pinkColor;
      font-size: .8rem;
      font-family:'Open Sans', sans-serif;
      border-bottom: 1px dashed $pinkColor;
      margin-left: 1.8rem;
      width: 6.7rem;
    }
    .email {
      margin-bottom: 1rem;
      img {
        height: 1rem;
        width:auto;
      }
      a {
        font-size: 1.1rem;
        color: #000;
        font-family:'Open Sans', sans-serif;
      }
    }
    .mobile-app {
      img {
        margin-right: 1.3rem;
      }
      a {
        color: $pinkColor;
        font-size: .8rem;
        font-family:'Open Sans', sans-serif;
        border-bottom: 1px dashed $pinkColor;
      }
    }
  }
  .social-media {
    .social {
      img {
        height: auto;
        width: 1.8rem;
        margin-right: 1rem;
      }
      a:first-child {
        img {
          width: 1rem;
        }
      }
    }
    .second-row {
      img {
        width: 7rem;
        height:auto;
        margin-right: 1rem;
      }
    }
  }
}
.footer-copyright {
  margin-top: 2rem;
  padding: 2rem 23rem;
  @media (max-width: 1919px) {
    padding: 0rem 8rem;
  }
  @media (max-width: 768px) {
    padding: 2rem 1rem;
  }
  color: #686c72;
  font-family:'Open Sans', sans-serif;
  font-size: .9rem;
}
