@import "../libs/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=cyrillic');
@import url(http://allfont.ru/allfont.css?fonts=pragmatica-cyrillic);
@font-face { font-family: 'PragmaticaLight';  src: local('PragmaticaLight'), url('https://nomail.com.ua/files/woff/5c2ba76393b9195ca8ba7d9a22d4f77e.woff') format('woff'); }

$pinkColor: #9f074f;
$brownColor: #6d604c;

html {
  overflow-x: hidden !important;
}

.html-overflow {
  overflow: hidden !important;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  -webkit-overflow-scrolling: touch;
}

p, h1, h2, h3, h4, h5, h6, span {
  cursor: default;
}

a, a:hover, a:active, button {
  cursor: pointer;
  text-decoration: none;
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@function rem($size) {
  @return $size / 16 * 1rem;
}

* {
  @media (max-width: 1680px) {
    font-size: 15px;
  }
  @media (max-width: 1366px) {
    font-size: 14px;
  }
  @media (max-width: 1280px) {
    font-size: 13px;
  }
  @media (max-width: 1280px) {
    font-size: 13px;
  }
  @media (max-width: 991px) {
    font-size: 12px;
  }
  @media (max-width: 880px) {
    font-size: 10px;
  }
  @media (max-width: 768px) {
    font-size: 14px;
  }
}

select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
  display: none;
}
input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input::-webkit-inner-spin-button,
input::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input:not([type]), input[type="date"] {
  background-image:url(../images/input-date.png);
  background-repeat: no-repeat;
  background-position: 95% 50%;
  /* text-indent: 17px; */
  background-size: 1.4rem auto;
}

select {
  background-image:url(../images/input-arrow.png);
  background-repeat: no-repeat;
  background-position: 96% 50%;
  /* text-indent: 17px; */
  background-size: .8rem auto;
}

body {
  overflow-x: hidden !important;
}

.header1 {
  padding: 1.5rem 23rem;
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.15);
  @media (max-width: 1919px) {
    padding: 1.5rem 8rem;
  }
  .logo {
    width: auto;
    height:7rem;
  }
  .top-bar {
    .phone-and-map {

      img {
        height: 1.5rem;
        width:1.5rem;
        object-fit: contain;
        margin-right: 5px;
      }
      a {
        text-decoration: none;
        color: #000;
        font-family:'pragmatica-cyrillic', sans-serif;
        font-size: 1.5rem;
        margin-bottom: 0;
      }
      .pink-text {
        display: inline-block;

        font-size: .9rem;
        margin-bottom: 0;
        color: $pinkColor;
        padding-left: 2rem;
        span {
          font-family:'PragmaticaLight', sans-serif;
          border-bottom:1px dashed $pinkColor;
        }
      }
    }
    .language-button {
      margin: 0rem 1rem;
      background: none;
      outline: none;
      border: 1px solid black;
      font-family:'Open Sans', sans-serif;
      border-radius: 5px;
      font-size: .9rem;
      padding: .3rem .5rem;
    }
    .search-form {
      margin-right: 1rem;
      height: 2.2rem;
      border:1px solid black;
      border-radius: 5px;
      input {
        background: none;
        outline: none;
        border: none;
      }
      button {
        background: none;
        outline: none;
        border: none;
        img {
          margin-right: .4rem;
          width: auto;
          height:1.3rem;
        }
      }
    }
    .cabinet {
      cursor: pointer;
      text-decoration: none;
      color: #000;
      span {
        cursor: pointer;
        font-family:'Open Sans', sans-serif;
        border-bottom:1px dashed black;
      }
      img {
        margin-right: .3rem;
        height: 1.3rem;
        width:auto;
      }
    }
  }
  .bottom-bar {
    margin-top: 1.5rem;
    a {
      text-decoration: none;
      font-family:'Open Sans', sans-serif;
      font-weight: 600;
      color: #000;
      margin-right: 1rem;
      transition: .3s;
      &:hover {
        color: $pinkColor;
      }
    }
  }
}

.link-anchors {
  padding: 0rem 23rem;
  @media (max-width: 1919px) {
    padding: 0rem 8rem;
  }
  @media (max-width: 768px) {
    padding: 2rem 1rem;
  }
  a {
    font-size: .9rem;
    color: #000;
    text-decoration: underline;
    text-decoration-line: underline;
    font-family: 'Open Sans',sans-serif;
    img {
      margin: 0rem .5rem;
      height: .7rem;
      width: auto;
    }
    &:last-child {
      color: $pinkColor;
      text-decoration: none;
    }
  }
}

.main-text {
  padding: 0rem 23rem;
  @media (max-width: 1919px) {
    padding: 0rem 8rem;
  }
  @media (max-width: 768px) {
    padding: 0rem 1rem;
  }
  font-family: 'PragmaticaLight', sans-serif;
  h3 {
    font-size: 2rem;
    color: $pinkColor;
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
  }
  a {
    font-size: 1rem;
    color: $pinkColor;
    text-decoration: underline;
    margin-bottom: 0;
    transition: .3s;
    &:hover {
      color: #000;
    }
  }
}

.form-asia {
  padding: 0rem 23rem;
  @media (max-width: 1919px) {
    padding: 0rem 8rem;
  }
  @media (max-width: 768px) {
    padding: 0rem 1rem;
  }

  hr {
    width: 100%;
    height: 1px;
    background-color: #ced4da;
    margin-bottom: 2rem;
  }
  .info-input {
    width: 22% !important;
    h4 {
      font-size: 1.2rem;
      color: $pinkColor;
      font-weight: bold;
    }
  }
  .all-inputs {
    width: 78% !important;
  }

  .input-form1 {
    margin-bottom: 2rem;
    .d-flex {
      width: 32%;
    }
  }

  .input-form2 {
    margin-bottom: 2rem;
    .d-flex:nth-child(1) {
      line-height: 1rem;
      width: 23%;
    }
    .d-flex:nth-child(2) {
      label {
        height: 1.9rem;
      }
      width: 33%;
    }
    .d-flex:nth-child(3) {
      label {
        height: 1.9rem;
      }
      width: 38%;
    }
  }
  .input-form3 {
    margin-bottom: 2rem;
    .d-flex {
      width: 32%;
    }
  }
  .input-form4 {
    margin-bottom: 2rem;
    .d-flex {
      width: 35%;
    }
  }
  .input-form6, .input-form7 {
    margin-bottom: 2rem;
    .d-flex {
      width: 32%;
    }
  }
  .input-form9 {
    margin-bottom: 2rem;
    .d-flex:nth-child(1) {
      width: 32%;
    }
    .d-flex:nth-child(2) {
      width: 66%;
    }
  }
  .input-form10 {
    .d-flex:nth-child(1) {
      width: 32%;
    }
    .d-flex:nth-child(2) {
      width: 50%;
    }
  }
  .input-form11 {
    .d-flex:nth-child(1) {
      width: 25%;
    }
    .d-flex:nth-child(2) {
      width: 25%;
      .double-input {
        border: 1px solid #ced4da;
        input {
          border: none;
          width: 65%;
        }
        input:nth-child(1) {
          border-right: 1px solid #ced4da;
          border-radius: 0;
          width: 35%;
        }
      }
    }
    .d-flex:nth-child(3) {
      width: 15%;
    }
    .d-flex:nth-child(4) {
      width: 30%;
    }
  }

  .input-form12 {
    margin-bottom: 2rem;
    .d-flex {
      width: 32%;
    }
  }
  .d-flex {
    @media (max-width: 768px) {
      width: 100% !important;
      margin-bottom: 2rem;
    }
  }

  .second-row {
    .d-flex {
      width: 25rem;
      @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 2rem;
      }
    }
  }
  .third-row {
    .d-flex {
      width: 12rem;
      @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 2rem;
      }
    }
  }
  .fourth-row {
    background-color: #f5f6f7;
    .d-flex {
      width: 18%;
      p {
        height: 2.5rem;
      }
      @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 2rem;
      }
    }
  }
  .fifth-row {
    .add-document {
      background-color: #f5f6f7;
      width: 5rem;
      height: 5rem;
      img {
        width: 2rem;
        height: 2rem;
      }
    }
    input#input45 {
      display: inline-block;
      width: 5rem;
      padding: 5rem 0 0 0;
      height: 5rem;
      overflow: hidden;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background: url('../images/add-document.png') center center no-repeat #e4e4e4;
      background-size: 2rem 2rem;
    }
    .add-document-text {
      font-size: 1rem;
      line-height: 120%;
      margin-bottom: 0;
    }
    p {
      font-family: 'PragmaticaLight', sans-serif;
      font-size: .9rem;
      line-height: 100%;
    }
    button {
      margin-top: 2rem;
      border: none;
      outline: none;
      background-color: $pinkColor;
      border-radius: 6px;
      color: #fff;
      font-size: .9rem;
      padding: .5rem 1rem;
      height: 2.5rem;
    }
  }
}

.banners {
  padding: 0rem 23rem;
  @media (max-width: 1919px) {
    padding: 0rem 8rem;
  }
  @media (max-width: 768px) {
    padding: 2rem 1rem;
  }
  img {
    width: 100%;
    height:auto;
    object-fit: cover;
  }
}

.footer {
  padding: 2rem 23rem;
  background-color: #f5f6f7;
  @media (max-width: 1919px) {
    padding: 2rem 8rem;
  }
  @media (max-width: 768px) {
    padding: 2rem 1rem;
  }

  .links {
    a {
      color: #686c72;
      font-family:'Open Sans', sans-serif;
      font-size: .9rem;
      margin-bottom: .5rem;
    }
  }
  .contacts {
    img {
      height: 1.3rem;
      width:auto;
      margin-right: .5rem;
    }
    .mobile-phone {
      a {
        font-size: 1.2rem;
        color: #000;
        font-family:'Open Sans', sans-serif;
        margin-bottom: 0;
      }

    }
    p {
      color: $pinkColor;
      font-size: .8rem;
      font-family:'Open Sans', sans-serif;
      border-bottom: 1px dashed $pinkColor;
      margin-left: 1.8rem;
      width: 6.7rem;
    }
    .email {
      margin-bottom: 1rem;
      img {
        height: 1rem;
        width:auto;
      }
      a {
        font-size: 1.1rem;
        color: #000;
        font-family:'Open Sans', sans-serif;
      }
    }
    .mobile-app {
      img {
        margin-right: 1.3rem;
      }
      a {
        color: $pinkColor;
        font-size: .8rem;
        font-family:'Open Sans', sans-serif;
        border-bottom: 1px dashed $pinkColor;
      }
    }
  }
  .social-media {
    .social {
      img {
        height: auto;
        width: 1.8rem;
        margin-right: 1rem;
      }
      a:first-child {
        img {
          width: 1rem;
        }
      }
    }
    .second-row {
      img {
        width: 7rem;
        height:auto;
        margin-right: 1rem;
      }
    }
  }
}
.footer-copyright {
  padding: 2rem 23rem;
  @media (max-width: 1919px) {
    padding: 0rem 8rem;
  }
  @media (max-width: 768px) {
    padding: 2rem 1rem;
  }
  color: #686c72;
  font-family:'Open Sans', sans-serif;
  font-size: .9rem;
}
